<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home | Kitckening</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="./img/logo.jpg" alt="Logo">
        </div>
        <nav class="nav__header">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Quienes</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Portafolio</a></li>
                <li><a href="#">Sucursales</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="contenedor__banner">
            <img src="./img/img-banner.jpg" alt="Imagen de banner">
        </div>
        <div>
            <article>
                <img src="./img/img-pdto-1.jpg" alt="Imagen pedido uno">
                <img src="./img/img-nuevo.png" alt="Imagen etiqueta nuevo">
                <div>
                    <p>Ampliar foto</p>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut recusandae eaque debitis sint necessitatibus, officia ex.</p>
                <a href="#">ver más</a>
            </article>
            <article>
                <img src="./img/img-pdto-2.jpg" alt="Imagen pedido dos">
                <img src="./img/img-gratis.png" alt="Imagen etiqueta gratis">
                <div>
                    <p>Ampliar foto</p>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut recusandae eaque debitis sint necessitatibus, officia ex.</p>
                <a href="#">ver más</a>
            </article>
            <article>
                <img src="./img/img-pdto-3.jpg" alt="Imagen pedido tres">
                <img src="./img/img-descuento.png" alt="Imagen etiqueta descuento">
                <div>
                    <p>Ampliar foto</p>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut recusandae eaque debitis sint necessitatibus, officia ex.</p>
                <a href="#">ver más</a>
            </article>
            <article>
                <img src="./img/img-pdto-1.jpg" alt="Imagen pedido uno">
                <img src="./img/img-gratis.png" alt="Imagen etiqueta gratis">
                <div>
                    <p>Ampliar foto</p>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut recusandae eaque debitis sint necessitatibus, officia ex.</p>
                <a href="#">ver más</a>
            </article>
            <article>
                <img src="./img/img-pdto-2.jpg" alt="Imagen pedido dos">
                <img src="./img/img-nuevo.png" alt="Imagen etiqueta nuevo">
                <div>
                    <p>Ampliar foto</p>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut recusandae eaque debitis sint necessitatibus, officia ex.</p>
                <a href="#">ver más</a>
            </article>
            <article>
                <img src="./img/img-pdto-3.jpg" alt="Imagen pedido tres">
                <img src="./img/img-descuento.png" alt="Imagen etiqueta descuento">
                <div>
                    <p>Ampliar foto</p>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut recusandae eaque debitis sint necessitatibus, officia ex.</p>
                <a href="#">ver más</a>
            </article>
        </div>
    </main>
    <footer>
        <nav class="nav__footer">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Quienes</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Portafolio</a></li>
                <li><a href="#">Sucursales</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>