<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home | Kitckening</title>
</head>
<body>
    <header>
        <div>
            <img src="./img/logo.jpg">
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Quienes</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Portafolio</a></li>
                <li><a href="#">Sucursales</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <img src="./img/img-banner.jpg">
        </div>
        <div>
            <article>
                <img src="./img/img-pdto-1.jpg">
                <img src="./img/img-nuevo.png">
                <p>Ampliar foto</p>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur fuga eaque ut nostrum voluptas? Modi, rerum? Amet facere dolores voluptate obcaecati velit, aliquam magnam expedita. Impedit non voluptates saepe facilis?</p>
                <a>ver más</a>
            </article>
            <article>
                <img src="./img/img-pdto-2.jpg">
                <img src="./img/img-gratis.png">
                <p>Ampliar foto</p>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur fuga eaque ut nostrum voluptas? Modi, rerum? Amet facere dolores voluptate obcaecati velit, aliquam magnam expedita. Impedit non voluptates saepe facilis?</p>
                <a>ver más</a>
            </article>
            <article>
                <img src="./img/img-pdto-3.jpg">
                <img src="./img/img-descuento.png">
                <p>Ampliar foto</p>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur fuga eaque ut nostrum voluptas? Modi, rerum? Amet facere dolores voluptate obcaecati velit, aliquam magnam expedita. Impedit non voluptates saepe facilis?</p>
                <a>ver más</a>
            </article>
        </div>
    </main>
    <footer>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Quienes</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Portafolio</a></li>
                <li><a href="#">Sucursales</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>