*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('/img/bg-body.png');
    max-width: 1180px;
}
:root{
    --colorRojo: #b81e14;
    --colorGris: #92908b;
    --colorGrisOscuro : #444444;
}
a{
    color: #FFFFFF;
}
