/*Banner*/
.contenedor__banner{
    width: 100%;
    display:none;
}
.contenedor__banner img{
    width: 100%;
}
/*Producto*/
.contenedor__imagenes{
    position: relative;
}
.imagen__pedido{
    width: 100%;
}
.imagen__etiqueta{
    position: absolute;
    top:0;
    right: 10px;
}
.contenedor__ampliar{
    text-transform: uppercase;
    display: block;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    padding: 8px 0;
    position: absolute;
    width: 100%;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contenedor__ampliar p{
    color: #FFF;
}
article h3{
    margin: 20px 0;
}
article p{
    color: var(--colorGris);
}
article a{
    background-color: var(--colorGrisOscuro);
    padding: 8px 10px;
    display: inline-block;
    margin: 20px 0;
}
@media (min-width:768px){
    .contenedor__banner{
        display: block;
    }
    .contenedor__tarjetas{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 20px;
    }
    article{
        width: 49%;
    }
}
@media (min-width:1024px){
    article{
        width: 32%;
    }
}